.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.icon {
    width: 40px;
}

.image {
    width: 400px;
}

.sign-con{
    place-items: center;
    height: 90vh;
}

.form-container {
    border: 1px solid black;
    border-radius: 3px;
    padding: 2em 1.5em;
    width: 25em;
}

.s-form {
    gap: 15px;
}

.error {
    border: 2px solid rgba(223,64,90,.5);
    background-color:  rgba(223,64,90,.1);
    color:  #f75f78;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
}

#lesson-container {
    padding-top: 1.5em;
}

.project__title h1 {
    margin-bottom: 1.38rem;
}

.project__title {
    width: 100%;
    text-align: center;
}

.project__underline {
    height: 0.2rem;
    width: 7rem;
    background: #f0db51;
    margin: -1rem auto 0px;
}

.project__container {
    width: 90vw;
    margin: 0px auto;
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    margin-top: 3em;
    margin-bottom: 3em;
}

.admin_container {
    width: 90vw;
    margin: 0px auto;
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-top: 2em;
    margin-bottom: 3em;
}